/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
            display: flow-root; 
            min-width: 874px;}
body { margin: none; font-family: Roboto, "Helvetica Neue", sans-serif; }
